/* CSS Document */
/*header style*/
header{ width:100%; height:120px;/* background:#99FFFF;*/}
header .header{width:100%; height:100%;/* background:#CCCC00;*/ margin:0px auto;}
header .header_top{width:100%; height:36px; margin:0px auto;background:#333333; }
header .header_top p{ width:1200px; height:36px; margin:0 auto; color:#FFFFFF; line-height:36px;}
header .header_top p span{color:#33cc66;}
header .header_top p a{ width:80px; height:36px; text-align:center;display:block; color:#FFFFFF; background:#FF0000; float:right;}

header .header_bott{width:1200px; height:84px; /*background:#CCCCCC;*/  margin: 0px auto;}
header .header_bott h1{width:200px; height:100%; /*background:#66FF00;*/ padding-top:15px; float:left;} 
header .header_bott h1 a{}
header .header_bott h1 a img{width:200; height:auto; }
header .header_bott nav{width:800px; height:82px; float:right;/* background:url(../images/hot.gif) no-repeat top center;*/ position:relative;}
header .header_bott nav img{top:20%; left:52%; transform:translate(-52%,-20%); position:absolute;}
header .header_bott nav ul{}
header .header_bott nav ul li{height:82px; line-height:82px; float:left;content:''; border-top:2px solid #FFFFFF; display:block;}
header .header_bott nav ul li a{ font-family:"华文宋体"; display:block;font-size:17px; color:#990000; padding:0px 20px; font-weight:800}
header .header_bott nav ul li a:hover{color:#33cc66; }
header .header_bott nav ul li:nth-child(8) a{ color:#33cc66;}
header .header_bott nav ul li:hover{content:''; border-top:2px solid #33cc66; display:block;}
header .header_bott nav ul li:nth-child(8){content:''; border-top:2px solid #33cc66; display:block;}




/*section4 news*/
.section4{width:100%; height:550px; background:url(../images/yy.jpg) no-repeat top center;}
.section4 .warp{width:1200px; height:100%;  margin:0 auto;}
.section4 .warp .news_l{ width:260px; height:300px; /*background:#99FF66;*/ padding-top:24px; float:left;}
.section4 .warp .news_l p{ }
.section4 .warp .news_l h3{color:#FFFFFF; font-size:16px; font-weight:800;padding-left:24px; line-height:48px; width:250px; height:48px; background:#333333; border-top-left-radius:5px;border-top-right-radius:5px; margin-top:24px;}
.section4 .warp .news_l ul{ width:250px; height:254px; background:#f5f5f5; border-bottom-left-radius:5px;border-bottom-right-radius:5px; overflow:hidden;}
.section4 .warp .news_l ul a{ width:208px; height:40px; display:block; background:#44b771; border-radius:5px;/* margin-bottom:10px;*/ margin-left:20px;}
.section4 .warp .news_l ul a li{ margin-top:10px;}
.section4 .warp .news_l ul a:first-child{ margin-top:35px;}
.section4 .warp .news_l ul a li p{ font-size:16px;color:#FFFFFF; text-align:center; line-height:40px; }
.section4 .warp .news_r{width:920px; height:460px; /*background:#FFFF99;*/ float:right;  margin-top:65px;}
.section4 .warp .news_r .pic{overflow:hidden;}
.section4 .warp .news_r .pic img{ /*width:918px; height:auto;*/}
.section4 .warp .news_r .bott_nr{width:100%; height:330px; border:1px dashed #CCCCCC; margin-top:14px;}
.section4 .warp .news_r .bott_nr div{ width:860px; height:240px; /*background:rgba(153,255,51,1);*/ margin-left:30px; margin-top:60px;}
.section4 .warp .news_r .bott_nr div p{font-size:14px; text-indent:2em; color:rgba(0,0,0,1);}
.section4 .warp .news_r .bott_nr div p:first-child{ padding:24px 0px; color:#333; border-top:2px solid #44b771;}


/*footer*/
footer{width:100%; height:100%; background:#333333}
footer .footer{width:1200px; height:434px; margin:0 auto; color:#FFFFFF;}
footer .footer .footer_l{ width:420px; height:100%;/* background:#9933FF;*/ float:left;}
footer .footer .footer_l h3{ width:100%; height:34px; display: block; font-size:18px; background:url(../images/foot_x.png) no-repeat left bottom; margin-top:28px;}
footer .footer .footer_l ul{ width:100%; height:315px;}
footer .footer .footer_l ul li p{width:100%; height:45px;padding-left:62px;}
footer .footer .footer_l ul li{width:100%; height:45px; padding-top:10px;}
footer .footer .footer_l ul li:nth-child(1){ background:url(../images/footer01.png) no-repeat left center; margin-top:15px;}
footer .footer .footer_l ul li:nth-child(2){ background:url(../images/footer02.png) no-repeat left center; margin-top:15px;}
footer .footer .footer_l ul li:nth-child(3){ background:url(../images/footer03.png) no-repeat left center; margin-top:15px;}
footer .footer .footer_l ul li:nth-child(4){ background:url(../images/footer04.png) no-repeat left center; margin-top:15px;}
footer .footer .footer_l ul li:nth-child(5){ background:url(../images/footer05.png) no-repeat left center; margin-top:15px;}
footer .footer .footer_l ul li:nth-child(6){ background:url(../images/footer-01.png) no-repeat left center; margin-top:15px;}
footer .footer .footer_l ul li:nth-child(6) p{ padding-left:40px;}
footer .footer .footer_r{ width:780px; height:100%; /*background:#99FFFF;*/ float:right;}
footer .footer .footer_r h3{width:100%; height:34px; display: block; font-size:18px; background:url(../images/foot_x.png) no-repeat left bottom; margin-top:28px;}
footer .footer .footer_r ul{width:100%; height:315px;}
footer .footer .footer_r ul li { width:195px; height:100%; float:left;}
footer .footer .footer_r ul li h4{ font-size:14px; margin-top:30px;}
footer .footer .footer_r ul li p{ padding-top:38px; line-height:32px;}
footer .footer .footer_r .bott{float: right;}
footer .footer .footer_r .bott p{font-size:16px; color:#CCCCCC; }
footer .footer .footer_r .bott p span{font-family:"candara"; font-size:28px; color:#33CC66;}