/* CSS Document */
*,::before,::after{ margin:0; padding:0 ; box-sizing:border-box;}


body,ul,ol,li,dt,dd,dl,h1,h2,h3,h4,h5,h6,form,p,input,select,textarea,a, em, img,strong, b, u, i,
fieldset, label, legend,table,td, caption, tbody, tfoot, thead, tr, th, article, aside, canvas,figure, figcaption, footer, header,
 hgroup,nav,section,audio, video
{ margin:0; padding:0 ; font-size:12px; font-weight:normal; font-style:normal;}

ul,ol,li{ list-style:none;}

img{ border:0 none;/*如果有超链接会出现蓝框 去掉*/ vertical-align:middle;/*垂直居中*/}

table ,td{border-collapse:collapse;/*边线重叠*/ border-spacing:0; }


input, select, textarea, button {outline:none;}/*去掉表单元素中获得焦点时出现蓝框*/
textarea{resize:none;}
/*:focus { outline:none;}*/


/*超链接*/
a{text-decoration:none; color:#404040;}
a:link,a:active,a:visited{ text-decoration:none; color:#404040; }
a:hover{color:#33cc66;text-decoration:none;}

::-moz-selection { color: #fff; background-color: #A97F48;}/*对象被选择时的样式*/
::selection { color: #fff; background-color: #A97F48;}  


/*自适应高度的问题解决   解决margin 塌陷*/
.clearfix:after{ clear:both; content:''; display:block; height:0; line-height:0; visibility:hidden;}
.clearfix{zoom:1;}

.clear{clear:both;}

.fl{float:left;}
.fr{float:right;}

.w{ width:1200px; margin:0 auto;}

body{font-family: "微软雅黑", Arial;font-size:12px; color:#404040; background:#fff;}

